<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />
	<div>
	<span style="color: red;"class="alert alert-danger" th:if="${CategoryAdded}">category added successfully.</span>
	</div>
	<form class="form-horizontal" th:action="@{/addCategory}" method="post">
				<fieldset>
					<legend class="center-block">
						Category Data <span style="font-size: small"> * is a
							required field</span>
					</legend>


					<!-- productCode -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="title">* ProductType Code</label>

						<div class="col-md-8">
							<input type="text" name="productTypeCode" class="form-control" id="productCode"
								th:value="${productType.productTypeCode}" required="required" placeholder="Title"  />
						</div>
					</div>

					<!-- productName -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="author">*
							ProductType Name </label>
						<div class="col-md-8">
							<input type="text" name="productTypeName" class="form-control" id="productTypeName"
								th:value="${productType.productTypeName}" required="required"
								placeholder="productType Name" /> 
						</div>
					</div>

					<!-- productDescription -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="publisher">ProductType Description</label>
						<div class="col-md-8">
							<input type="text" name="productTypeDiscription" class="form-control"
								id="productTypeDiscription" th:value="${productType.productTypeDiscription}"
								placeholder="ProductType Discription" /> 
						</div>
					</div>

	<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<button type="submit" class="btn btn-success">Add Category</button>
						</div>
					</div>
	</fieldset>
	</form>
	
	
	
	<div th:replace="common/header :: body-bottom-scripts" />

</body>
</html>