<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />


<body>
	<div th:replace="common/header :: navbar" />
<div  th:if="${trackingIdAdded}" class="alert alert-success" role="alert">
  <span>Tracking Id Updated</span>
</div>
	<!-- Start Banner Area -->

	<div>
		<span style="color: red;" class="alert alert-success"
			th:if="${UpdateStatus}">Order Status Updated successfully.</span>
	</div>
	<br>
	<h1 style="text-align: center;">ORDER Details</h1>
	<br>
	<section>
		<table id="orderTable" class="table">
			<thead>
				<tr>
					<th scope="col">Order Date</th>
					<th scope="col">Order Number</th>
					<th scope="col">Product Name</th>
					<th scope="col">Tracking Id</th>
					<th scope="col">qty</th>
					<th scope="col">Opreation</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cartItem : ${CartItemList}">

					<td th:text="${order.orderDate}"></td>
					<td th:text="${order.id}"></td>
					<td th:text="${cartItem.product.productName}"></td>
					<td   th:text="${order.tackingId}"></td>
					
				    <td th:text="${cartItem.qty}"></td>
					
					
					<td><a th:href="@{/download(id=${order.id},cartId=${cartItem.id})}"
						class="btn btn-info">Download Image</a></td>
				</tr>
				</hr>

			</tbody>
		</table>
		
		<div th:if="${keychain}">
		
		<form th:action="@{/saveTrackingID}" method="POST" class="form-inline">

  <div class="form-group mx-sm-3 mb-2">
  <input  type="text" th:value="${order.id}" name="orderId">
  &nbsp;
    <input type="number" class="form-control" name="trackingID" id="trackingID" placeholder="Tracking Id">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Save Tracking Number</button>
</form>
</div>
	</section>


	<!-- start footer Area -->

	<div th:replace="common/header :: body-bottom-scripts" />
	<script>

function myFunction() {
	  var x = document.getElementById("myTopnav");
	  if (x.className === "topnav") {
	    x.className += " responsive";
	  } else {
	    x.className = "topnav";
	  }
	}
	

/* $(document).ready(function() {
	$("#orderTable").DataTable({
		  "lengthMenu": [ [5, 10, 25, -1], [5, 10, 25, "All"] ],
        "ordering": false,
		stateSave: true
	});
});
 */
</script>
</body>
</html>