
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />
	
	<div class="container">
	
	
<div>
<span style="color: red;"class="alert alert-success" th:if="${ProductConfigList}">ProductConfig added successfully.</span>
</div>
		<div class="table-responsive">
			<table id="bookListTable" class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th><input th:id="selectAllBooks" type="checkbox" /></th>
						<th>ProductConfig Name</th>
						<th>ProductConfig code</th>
						<th>ProductConfig Description</th>
						<th>Product Name</th>
						<th>size</th>
						<th>WIDTH</th>
						<th>HEIGHT</th>
						<th>DEPTH</th>
						<th>Weight Of Product</th>
						<th>Total Weight</th>
						<th>Price Per-Qty</th>
						<th>Duration To Make</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr data-th-each="productConfig : ${productConfigList}" >
						<td>
						<input hidden="hidden" name="id" th:value="${productConfig.id}" />
						<input th:id="'selected'+${productConfig.id}" class="checkboxBook" type="checkbox" />
						</td>
						<td><a th:href="@{/productConfigInfo(id=${productConfig.id})}"><span th:text="${productConfig.productConfigName}"></span></a></td>
						<td th:text="${productConfig.productConfigCode}"></td>
						<td th:text="${productConfig.productConfigDiscription}"></td>
						<td th:text="${productConfig.product.productName}"></td>
						
						<td th:text="${productConfig.size}"></td>
						<td th:text="${productConfig.WIDTH}"></td>
						<td th:text="${productConfig.HEIGHT}"></td>
						<td th:text="${productConfig.DEPTH}"></td>
						<td th:text="${productConfig.weightOfProduct}"></td>
						<td th:text="${productConfig.totalWeight}"></td>
						<td th:text="${productConfig.pricePerQty}"></td>
						<td th:text="${productConfig.durationToMake+' Days'}"></td>
						<td  th:if="${productConfig.status}==true">Active</td>
						<td style="color: red;" th:if="${productConfig.status}==false">Inactive</td>
						<td>
							<input hidden="hidden" name="id" th:value="${productConfig.id}" />
							
							
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	
	<div th:replace="common/header :: body-bottom-scripts" />
	
	<script>
		$(document).ready(function() {
			$("#bookListTable").DataTable({
				  "lengthMenu": [ [5, 10, 25, -1], [5, 10, 25, "All"] ],
                "ordering": false,
				stateSave: true
			});
		});
	</script>
</body>
</html>
