
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />
	
	<div class="container">
	<h3>Product List</h3>
	
<div>
<span style="color: red;"class="alert alert-success" th:if="${ProductConfigAdded}">ProductConfig added successfully.</span>
</div>
		<div class="table-responsive">
			<table id="bookListTable" class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th><input th:id="selectAllBooks" type="checkbox" /></th>
						<th>Product Name</th>
						<th>Product code</th>
						<th>Product Description</th>
 						
						<th>Intial Price</th>
						<th>Maximum Quantity</th>
												<th>Status</th>
						
						<th>Operation</th>
					</tr>
				</thead>
				<tbody>
					<tr data-th-each="product : ${productList}" >
						<td>
						<input hidden="hidden" name="id" th:value="${product.id}" />
						<input th:id="'selected'+${product.id}" class="checkboxBook" type="checkbox" />
						</td>
						<td><a th:href="@{/productInfo(id=${product.id})}"><span th:text="${product.productName}"></span></a></td>
						<td th:text="${product.productCode}"></td>
						<td th:text="${product.productDescription}"></td>
						<td th:text="${product.ourPrice}"></td>
						<td th:text="${product.maximumQuantity}"></td>
						<td  th:if="${product.status}==true">Active</td>
						<td style="color: red;" th:if="${product.status}==false">Inactive</td>
						<td>
							<input hidden="hidden" name="id" th:value="${product.id}" />
						
							<a th:href="@{/productConfig(id=${product.id})}" class="btn btn-primary form-group"> Config-Product</a><br><br>
							<a th:href="@{/productConfigList(id=${product.id})}" class="btn btn-success form-group"> Config-Product List</a>
							
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	<button th:id="deleteSelected" class="btn btn-danger ">Delete Selected</button>
	</div>
	
	
	<div th:replace="common/header :: body-bottom-scripts" />
	
	<script>
		$(document).ready(function() {
			$("#bookListTable").DataTable({
				  "lengthMenu": [ [5, 10, 25, -1], [5, 10, 25, "All"] ],
                "ordering": false,
				stateSave: true
			});
		});
	</script>
</body>
</html>
